#certificates h2 {
  font-size: 2.5rem;
}

.certificate-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.certificate-card {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
  text-decoration: none;
  color: white;
}

.certificate-card h3 {
  font-size: 1.2rem;
}

.certificate-card p {
  margin-top: 10px;
  color: #ccc;
}

.certificate-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  border-color: white;
}