.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  margin-top: 20px;
  color: gray;
  font-size: 1.5rem;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons a {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
.typing {
  margin-top: 20px;
  font-size: 1.5rem;
  color: gray;
}
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}